<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>controllers.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporterController</servlet-name>
        <servlet-class>controllers.ReporterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryController</servlet-name>
        <servlet-class>controllers.QueryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>controllers.PaymentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/NewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporterController</servlet-name>
        <url-pattern>/ReporterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryController</servlet-name>
        <url-pattern>/QueryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/PaymentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>akshaykpatidar@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>axay@756657</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
